body,html
{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
*
{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p
{
    margin: 0;
    padding: 0;
}
.main-head
{
    width: 100%;
    background-color: white;
}
.cont
{
    width: 90%;
    padding: 15px;
    margin: 0 auto;
}
.tittle-head
{
    width: 730px;
    margin: 0 auto;
}
.recent
{
    font-size: 32px;
    font-weight: 700;
    color: #232044;
    padding-bottom: 18px;
    line-height: 1.3em;
    text-align: center;
}
.lines
{
    margin: 0 auto;
    width: 120px;
    height: 5px;
    background-color: #26BAFF;
    position: relative;
    
    
}
 .tittle-head p
{
    color: #232044;
    text-align: center;
    font-weight: 500;
    line-height: 1.7em;
    font-size: 16px;
    padding-top: 24px;
}
.lines::after
{
    content: "";
    width: 4px;
    height: 5px;
    background-color: #26BAFF;
    position: absolute;
    right: -6px;
    top: 0;
    
    
}
.lines::before
{
    content: "";
    width: 4px;
    height: 5px;
    background-color: #26BAFF;
    position: absolute;
    right: -12px;
    top: 0;
}
.card-container
{
    overflow: auto;
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.card-data
{
    float: left;
    width: 33.33%;
    padding: 15px;
}
.inner-card
{
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    transition: 0.3s all ease;
}
.inner-card:hover
{
   box-shadow: 1px 5px 20px -7px rgba(0,0,0,0.8);
}
.inner-card img
{
    width: 100%;
}
.card-content
{
    text-align: center;
    padding: 34px 16px;
}
.main-head .card-content h2
{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3em;
    padding-bottom: 6px;
    color: #232044;
}
.main-head .card-content p
{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
    padding-bottom: 6px;
    color: #232044;
}
.main-head .card-content a
{
    text-decoration: none;
    display: inline-block;
    background-color: #26BAFF;
    color: #ffffff;
    padding: 14px 30px;
    position: relative;
    z-index: 11;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.3s all ease;
    
}
.main-head .card-content a::after
{
   content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.3s all ease;
    z-index: -1;
}

.main-head .card-content a:hover
{
    color: #26BAFF;
    background-color: white;
    border: 1px solid #26BAFF;
    border-radius: 4px;
}
.feature-sec
{
    width: 100%;
    background-color: white;
    padding-top: 100px;
    
}
.inner-blog
{
    width: 100%;
    margin-bottom: 20px;
    padding: 44px 15px;
    position: relative;
    text-align: center;
    transition: 0.3s all ease;
}
.inner-blog:hover
{
    background-color: #242047;
}
.img-blog
{
    width: 100%;
    position: relative;
    text-align: center;
}
.img-blog img
{
    margin-left: auto;
    margin-right: auto;
    
}
/*
img
{
    width: 100%;
}
*/
.inner-blog:hover  .original-logo
{
    display: none;
}
.inner-blog:hover .color-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.color-img
{
    display: none;
}
.data-blog
{
    text-align: center;
}
.data-blog h4
{
    font-weight: 600;
    color: #232044;
    font-size: 18px;
    line-height: 1.3em;
    padding-bottom: 15px;
    text-transform: uppercase;
    padding-top: 22px;
}
.inner-blog:hover h4
{
    color: #26BAFF;
}
.data-blog p
{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.inner-blog:hover p
{
    color: #ffffff;
}
.inner-blog .line1
{
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    right: -10px;
    transition: 0.3s all ease;
    
}
.inner-blog .line1:before
{
    content: "";
    width: 1px;
    height: 50%;
    background-color: #26BAFF;
    position: absolute;
    top: 0;
    right: 0;
}
.inner-blog .line1:after
{
    content: "";
    width: 50%;
    height: 1px;;
    background-color:#26BAFF;
    position: absolute;
    top: 0;
    right: 0;
}
.inner-blog:hover .line1
{
    width: 100%;
    height: 100%;
}
.inner-blog .line2
{
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    left: -10px;
    transition: 0.3s all ease;
    
}
.inner-blog .line2:before
{
    content: "";
    width: 1px;
    height: 50%;
    background-color: #26BAFF;
    position: absolute;
    bottom: 0;
    left: 0;
}
.inner-blog .line2:after
{
    content: "";
    width: 50%;
    height: 1px;;
    background-color:#26BAFF;
    position: absolute;
    bottom: 0;
    left: 0;
}
.inner-blog:hover .line2
{
    width: 100%;
    height: 100%;
}
.team-section
{
    width: 100%;
    background-color: white;
    padding: 100px 0px;
}
.team-card
{
    width: 100%;
    padding-bottom: 40px;
}
.team-img
{
    overflow: hidden;
    max-height: 338px;
    width: 100%;
}
.team-img:hover img
{
    transform: scale(1.1);
}
.team-img img
{
    transition: 0.3s all ease;
    width: 100%;
}
.team-data
{
    margin: 0;
    padding: 0;
    width: 100%;
}
.team-data h2
{
    color: #232044;
    font-size: 26px;
    line-height: 1.3em;
    font-weight: 500;
    padding-top: 20px;
}
.team-data p
{
    color: #232044;
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
}


